body {
    font-family: Arial, sans-serif;
    margin: 0;
    background: gray;


}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
    background-color: teal;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    z-index: 10;
}


/*menu lateral*/
.menu-lateral {
    position: fixed;
    top: 80px;
    left: 00px;
    bottom: 20px;
    width: 200px;
    height: 100%;
    background: teal;
    text-align: center;
    z-index: 10;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    border-radius: 0px 20px 20px 20px;
}

.content {
    margin-left: 250px;
    /* Deve ser a mesma largura do seu .sidebar */
    padding: 20px;
}

.menu-lateral ul {
    list-style-type: none;
    padding: 0;
}

.menu-lateral li a {
    margin-bottom: 10px;
    display: block;
    text-decoration: none;
    color: #333;
    font-size: 18px;
}

.menu-lateral li a:hover {
    background-color: white;
    border-radius: 10px;
}

/* parte da galeria de fotos*/
.galeria {
    margin-top: 10px;
    margin-left: 220px;
    margin-right: 220px;
    padding: 10px;
    box-sizing: border-box;
    text-align: center;
    border-radius: 20px;

}

.galeria img {
    margin: 10px;
    border-radius: 20px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    text-align: center;
    transition: transform 0.3s;
}



/*Descrição do site*/
h2 {
    margin-left: 220px;
    padding: 10px;
    box-sizing: border-box;
    text-align: center;
    color: white;
}


/* Estilos para o slider de imagens */
.slider-container {
    max-width: 900px;
    position: relative;
    margin: 100px auto;
    /* Centraliza o slider na página */
    text-align: center;
    overflow: hidden;
    /* Importante para não mostrar imagens fora da área */
}

/* Esconde todas as imagens por padrão */
.slide {
    display: none;
}

/* Transição para a imagem */
.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}

/* Botões de navegação */
.prev {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 24px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    background-color: rgba(0, 0, 0, 0.8);
    left: 0px;
}

/* Posição do botão "próximo" */
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 24px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    background-color: rgba(0, 0, 0, 0.8);
    right: 0px;
    border-radius: 3px 0 0 3px;
}

/* Efeito hover nos botões */
.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 1);
}

/* Estilo para os indicadores (pontos) */
.dots-container {
    text-align: center;
    padding: 20px 0;
}

.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active,
.dot:hover {
    background-color: #717171;
}

footer {
    clear: both;
    height: 80px;
    background-color: teal;
    color: white;
    text-align: center;
    line-height: 40px;
    position: relative;
    bottom: 0;
    width: 100%;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
    border-radius: 0 0 20px 0px;
}

main {
    margin-top: 0px;
    margin-left: 220px;
    margin-right: 20px;
    padding: 20px;
    box-sizing: border-box;
    text-align: center;
    border-radius: 20px;
    background-color: #f0f0f0;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

.overflow {
    margin-top: 20px;
    margin-left: 220px;
    margin-right: 220px;
    padding: 10px;
    box-sizing: border-box;
    text-align: justify;
    border-radius: 20px;
    background-color: #f0f0f0;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    height: 100px;
    /* Altura fixa para demonstrar o overflow */
    overflow: auto;
    /* Adiciona barra de rolagem se o conteúdo for maior que a altura */
}

.imagem-lateral {
    position: sticky;
    box-shadow: 2px 2px 5px 2px rgba(0, 0, 0, 0.8);
}